h2, h3, h4 {
	line-height: 5px;
	color: rgba(211,146,217,0.9);
}

ul {
	margin-bottom: 70px;
}

#main_content {
	font-size: 2rem;
}

@media (min-width: 1200px) {
	#main_content {
		font-size: 1rem;
	}
	
	#main_flex_container {
		min-width: 50%;
	}
}